.body{
    width: 1280px;
    
    margin-right: auto;
    margin-left: auto;
    /* border: 2px solid #000; */
}
h1{
    text-decoration: none;
}
.title{
    color: #000;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    
    margin-top: 63px;
    margin-bottom: 40px;
}
.top-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 1280px;
  }
  
.top-flex-container > div {
    background-color: #35444F;
    margin: 1px;
    text-align: center;
    height: 24px;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 18px;

}  
.top-flex-container > div:hover{
    background-color: #222F3A;
}
.item-1{
    width: 161px;
    margin-left: 0;
}
.item-2{
    width: 330px;
}
.item-3{
    width: 154px;
}
.item-4{
    width: 284px;
}
.item-5{
    width: 221px;
}
.item-6{
    width: 133px;
    margin-right: 0;
}
.main{
    margin-top: 50px; 
    
}
.left-flex-container{
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 344px; 
    height: 400px;
    border: 1px solid #DBDBDB;
}
.left-flex-container > div {
    background-color: #FFF;
    padding-left: 45px;;
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    padding-top: 26px;

} 
.left-flex-container > div:hover{
    background: #DBDBDB;
    padding-left: 50px;
}
.left-item{
    height: 80px;
} 
.left-menu{
    margin-top: 50px;
}

a{
    text-decoration: none;
}
.main-content{
    margin-top: -454px;
    margin-left: 396px; 
    width: 885px;
    display: flex;
    justify-content: end;
}
.img{
    padding: 75px 268px 73px 297px;
    width: 320px;
    height: 381px;
      
    
    
}
img{
    transition: transform 0.3s; 
}
img:hover{
    transform: scale(1.3);
}
.img-content{
    display: flex;
    width: 885px;
    height: 529px;
    border: #DBDBDB solid 1px;
    

}

.text-container{
    display: flex;
    justify-content: end;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 885px;
    margin-top: 37px;
    /* border: #000 1px solid ; */
    margin-left: 394px;
}
.text{
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.footer-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
  }
  
.footer-flex-container > div {
    
    color: #0C1927;
    font-family: Roboto;
    font-size: 24px;
    
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 28px;
    

} 
.footer-flex-container > div:hover{
    color: #3181A6;
    text-decoration: underline #3181A6;
}
.footer-item-1{
padding-left: 40px;
}

.footer-item-6{
    width: 100px;
}
.footer-item-7{
    padding-right: 40px;
}



